.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 5px;
}

.filter-container {
  width: 30%;
  height: 100vh;
  border-right: 1px solid black;
}

.cards-container {
  border: 1px solid black;
}
