.container {
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 5px;
}

.filter-container {
  min-width: 200px;
  height: 100vh;
  border-right: 1px solid black;
}

.cardContainer {
  width: 200px;
  height: 200px;
}

.imageContainer {
  width: 100px;
  height: 100px;
}

.productDesc {
  font-size: small;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
